@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Doudella>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}




<!-- end s-header -->


   



    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">

        <div class="row intro-content content">

            <div class="column large-9 mob-full intro-text">
                <h3 class="title">Hallo, Ik ben Mohamed Doudella</h3>
                <h1 class="intro">
                    Software  <br>
                    Developer <br>
                </h1>
              
            </div>

            <div class="intro-scroll">
                <a href="#about" class="intro-scroll-link smoothscroll">
                    Scroll For More
                </a>
            </div>

            <div class="intro-grid"></div>
            <div class="intro-pic"></div>

        </div> <!-- end row -->

    </section> <!-- end intro -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="about-me">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading abtitle">Over Mij</h2>
                </div>
            </div>

            <div class="row about-me__content" data-aos="fade-up">
                <div class="column large-full about-me__text">
                    <p class="lead leadtext">
                    Mijn naam is Mohamed, een gepassioneerde backend developer uit Utrecht met 4 jaar ervaring. Mijn focus ligt op het bouwen van robuuste softwareoplossingen en het delen van kennis om deze continu te verbeteren. Ik geniet van het werken aan grootschalige projecten en heb een grote passie voor het leren van nieuwe technologieën. Daarnaast vind ik het heerlijk om aan eigen projecten te werken en mijn creativiteit de vrije loop te laten.


                    </p>

                    <p>
                    Ik maak graag ook website's die heel simple kunnen zijn of heel uitdagend. 
                    </p>

                    <!--<p>
                    Rerum consequatur dolore quae.
                    Qui excepturi facilis quam quae quasi. Mollitia occaecati minus voluptas veniam.
                    Qui excepturi facilis quam quae quasi. Mollitia occaecati minus voluptas veniam. Est est occaecati dolor 
                    qui aut et eum. Aspernatur quos cumque ea dolorum nemo nihil 
                    beatae magnam. Qui molestiae rem.
                    </p>

                    <p>
                    Maxime enim provident ipsum reprehenderit tenetur. Et cupiditate 
                    repellendus. Et modi ipsum aut harum. Ratione alias sed. Rerum 
                    consequatur dolore quae. Qui excepturi facilis quam quae quasi. 
                    Mollitia occaecati minus voluptas veniam. Est est occaecati dolor 
                    qui aut et eum. Aspernatur quos cumque ea dolorum nemo nihil 
                    beatae magnam. Qui molestiae rem. Aspernatur quos cumque ea dolorum 
                    nemo nihil. Qui molestiae rem.
                    </p> -->
                </div>
            </div>
    
            <div class="row about-me__buttons">
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#contact" class="btn btn--stroke full-width smoothscroll" title="contact us">Contact</a>
                </div>
                <!-- <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="0#" class="btn btn--primary full-width" download = "0#">Download CV</a>
                    
                </div> -->
            </div>

        </div> <!-- end about-me -->

        <div class="about-experience">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">Werk & studie's</h2>
                </div>
            </div>
            <!-- stages -->
            <div class="row about-experience__timeline">

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--work"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">####</p>
                                <h3 class="item-title">Toekomstige stage</h3>
                                <h5>####</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Mag ik mijn skils bij uw bedrijf laten zien?</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">July 2019 - Dec 2019</p>      
                                <h3 class="item-title">Stage Afstandsbedieniggigant.nl</h3>
                                <h5>Webshop medewerker & IT afdeling </h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Als webshop medewerker is je taak om producten toetevoegen en het bijwerken van prijzen en of voorraad.</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">March 2017 - June 2017</p>
                                <h3 class="item-title">Stage Repair Supply</h3>
                                <h5>Repareteur & klantenservice</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Mijn taak was klanten te woord staan via de telefoon of face to face zo heb ik mijn goede communicatie geleerd. En niet alleen met klanten praten deed ik ook telefoon reparaties, onder andere scherm of batterij vervangen. </p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- stages studies -->

                <!-- studies -->
                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--education"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">2020 - Present</p>
                                <h3 class="item-title">ROC van Amsterdam</h3>
                                <h5>Software Developer</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Studie gaat goed ik loop op schema.</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">July 2018 - June 2020</p>
                                <h3 class="item-title">ROC van Amsterdam</h3>
                                <h5>Medewerker ICT</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Afgerond met een diploma.</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">2010 - 2010</p>
                                <h3 class="item-title">College de Kleine Prins</h3>
                                <h5>Middelbare school</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Afgerond met voldoende</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end stage -->

    </section> <!-- end s-about -->




























    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->
